/.metadata/
/.sonarlint/
/dictionary
/Tradingsystem/.settings/
/Tradingsystem/bin/
/Tradingsystem/lib/
/Tradingsystem/resources/
/Tradingsystem/target/*
!/Tradingsystem/target/Tradingsystem-*-javadoc.jar